@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

:root {
  font-family: 'Roboto', sans-serif;
  --dark-bg: #1F2937;
  --hero-main-text-color: #f9faf8;
  --hero-main-size: 48px;
  --hero-secondary-text-color: #e5e7eb;
  --hero-secondary-text-color-hover: #929bae;
  --hero-secondary-size: 18px;
  --header-logo-text-color: var(var(--hero-secondary-text-color));
  --header-logo-text: 24px;
  --information-header-size: 36px;
  --information-header-color: #1f2937;
  --quote-bg-color: var(--hero-secondary-text-color);
  --quote-text-size: 36px;
  --quote-text-color: var(--dark-bg);
  --volunter-bg: mediumspringgreen;
  --button-hero: #3882f6;
  --buton-hero-hover: #5998fe;
  --margin-sides: 200px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
}

.header-logo{
  width: 100px;
}

.header {
  height: 10vh;
  padding: 1em var(--margin-sides);
  margin: 0;
  background: var(--dark-bg);
  color: var(--hero-secondary-text-color);
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.header-links {
  list-style: none;
  display: flex;
}

.header-link a{
  color: var(--hero-secondary-text-color);
  font-size: var(--hero-secondary-size);
  margin-right: 1em;
  text-decoration: none;
}

.header-link a:hover{
  color: var(--hero-secondary-text-color-hover);
}

.hero {
  height: 90vh;
  padding: 5rem var(--margin-sides);
  background-color: var(--dark-bg);
  display: flex;
  flex: 1;
}

.hero-text{
  margin-right: 40px;
}

.hero-text h1 {
  font-size: var(--hero-main-size)
}

.hero-text h1,
.hero-text p {
  margin-bottom: 10px;
}

.learn-more{
  background-color: var(--button-hero);
  padding: 5px 30px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  box-shadow: 1px 3px 8px 0px rgba(178, 217, 236, 0.6);
}

.learn-more:hover {
  background-color: var(--buton-hero-hover);
}

.information {
  margin-top: 5rem;
  padding: 0 var(--margin-sides);
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.information h2{
  color: var(--information-header-color);
  font-weight: 800;
  margin-bottom: 2em;
  font-size: 36px;
}

.biomes {
  display: flex;
  justify-content: space-evenly;
  gap: 50px;
}

.biome-container{
  width: 200px;  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.biome-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  object-position: center;
  border-radius: 20px;
  margin-bottom: 10px;
  border: 5px solid rgb(205, 205, 205);
  cursor: pointer;
  transition: scale 0.15s;
}

.biome-image:hover{
  scale: 1.1;
}

.biome-container p {
  color: var(--information-header-color);
  width: 100%;
  text-align: center;
}

.quote-section {
  margin-top: 100px;
  height: 50vh;
  padding: 0 var(--margin-sides);
  background-color: var(--quote-bg-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.quote {
  color: var(--quote-text-color);
  font-size: var(--quote-text-size);
  font-style: italic;
  font-weight: lighter;
}

.citation{
  font-weight: bold;
  color: var(--quote-text-color);
  align-self: flex-end;
  padding-right: 100px;
}

.volunteer{
  height: 20vh;
  width: calc(100% - 2*var(--margin-sides));
  padding: 3rem 5rem;
  margin: 100px auto;
  background-color: var(--volunter-bg);
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.volunteer .text{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.top-text,
.bottom-text {
  color: var(--dark-bg);
}

.top-text{
  font-weight: bold;
}

.bottom-text{
  font-weight: lighter;
}

.volunteer-btn{
  color: var(--dark-bg);
  background-color: var(--volunter-bg);
  padding: 5px 20px;
  border: 2px solid var(--dark-bg);
  border-radius: 5px;
  cursor: pointer;
}

.volunteer-btn:hover{
  background-color: var(--dark-bg);
  color: var(--volunter-bg)
}

.footer {
  height: 10vh;
  background-color: var(--dark-bg);
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer p{
  font-weight: lighter;
}